@import '../../_app';

.my-tickets {
    min-height: 500px;
    padding-bottom: 100px;

    .tickets-list {
        .header {
            display: flex;
            flex-flow: row nowrap;
            background-color: rgba(63, 81, 181, 0.1);
            padding: 5px 0;
            border-bottom: 2px solid $color-main;
        }

        .header div {
            font-size: 20px;
        }

        .header > div,
        .body .ticket > div {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }

        .column-first {
            width: 9%;
        }

        .column-long {
            width: 31%;
        }

        .column-short {
            width: 20%;
        }

        .column-last {
            width: 20%;
        }

        .body .ticket {
            display: flex;
            flex-flow: row nowrap;
            cursor: default;
        }

        .body .ticket > div {
            padding: 12px 0;
        }

        .body .ticket:hover {
            background-color: #eee;
        }

        .body .train-category {
            flex-flow: row nowrap !important;
            justify-content: left !important;
        }

        .body .train-category a {
            margin-left: 10px;
        }

        .body .travel-stations {
            font-size: 20px;
        }

        .body .departure-time,
        .body .purchase-time {
            font-size: 15px;
            line-height: 20px;
        }
    }
}
