.ticket-qr {
    .page-title {
        padding-bottom: 30px;
    }

    .data,
    .back-button {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .data .description {
        margin-bottom: 15px;
    }

    .back-button {
        padding: 30px 0;
    }
}
