@import '../_app';

.footer-list-item {
    list-style: none;
    margin: 7px 0;
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
        color: $color-second;
    }

    .icon {
        font-size: 14px;
    }

    .text {
        padding-left: 5px;

        a {
            color: inherit;
        }
    }
}

.footer {
    background-color: $color-main;
    padding: 30px 0;

    .footer-nav {
        display: flex;
        flex-flow: row wrap;
        margin: 0 0px;
        color: #fff;

        .single-item {
            width: 33.333333%;
            display: flex;
            flex-flow: column nowrap;
            padding: 0 50px;

            .title {
                font-size: 23px;
                margin: 0 0 20px;
                letter-spacing: 2px;
                border-bottom: 5px solid #fff;
                align-self: flex-start;
                padding: 0 10px 4px;
            }

            ul {
                margin: 0;
                padding-left: 30px;
            }
        }
    }
}

.details {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
    color: #fff;

    .made-with {
        font-weight: 300;
        font-size: 13px;
    }

    .social a {
        color: #fff;
        font-size: 20px;
        padding: 0 20px;
        margin: 0 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .social a:hover {
        color: $color-main;
        background-color: #fff;
    }
}
