@import '../_app';

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100%;
    background-color: $color-main;
    z-index: 1;

    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .logo {
            line-height: 10px;
        }

        .logo img {
            height: 40px;
            margin-top: 5px;
        }
    }

    .main-nav {
        ul {
            display: flex;
            margin: 0 -30px 0 0;
            align-items: center;
        }

        li {
            list-style: none;
        }

        li a {
            display: flex;
            align-items: center;
            min-height: 50px;
            padding: 0 30px;

            color: #fff;
            font-size: 15px;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            transition: color 0.5s ease, background-color 0.5s ease;
        }

        li:last-child a {
            border-right: none;
        }

        li a:hover {
            color: $color-main;
            background-color: #fff;
        }

        li .log-out-icon {
            padding-right: 5px;
        }
    }
}
