@import '../app';

.react-autosuggest__container {
    position: relative;
    width: 250px;
}

.react-autosuggest__input {
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
    color: #444;
    border: 1px solid transparent;

    &::placeholder {
        font-weight: 300;
        color: #000;
    }
}

.react-autosuggest__input--focused {
    outline: none;
    border-color: $color-hover;
}

// .react-autosuggest__input--open {
//     border-bottom-left-radius: 0;
//     border-bottom-right-radius: 0;
// }

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    // position: absolute;
    // top: 51px;
    // width: 280px;
    // background-color: #fff;
    font-family: inherit;
    font-size: 16px;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
    // z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    border-radius: 4px;

    width: 250px;
    margin-top: 10px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
}

.react-autosuggest__suggestion {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fff;

    .station .name {
        display: inline-block;
        margin-left: 10px;
    }
}

.react-autosuggest__suggestion--highlighted {
    background-color: $color-main;
    color: #fff;
}

/* Nowe klasy */

.invalid-value .react-autosuggest__input {
    border: 1px solid #fd5d5d;
}
