.train-category {
    color: #fff;
    padding: 4px 15px;
    font-weight: 600;
    cursor: default;

    &.selected {
        border-bottom: 2px solid #fff;
    }

    &.selectable {
        cursor: pointer;
    }

    &.selectable:not(.selected) {
        filter: opacity(50%);
    }
}
