@import '../../_app';

.sign-page {
    min-height: 600px;
}

.window-ctr {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.window {
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);

    .tabs {
        display: flex;
        flex-flow: row nowrap;

        .tab {
            width: 50%;
            font-size: 22px;
            text-align: center;
            padding: 15px 0;
            cursor: pointer;
            color: #999;
            border-bottom: 2px solid #999;

            &.active {
                color: $color-main;
                border-color: $color-main;
                background-color: rgba(63, 81, 181, 0.2);
            }

            &:hover {
                background-color: $color-main;
                color: #fff;
                border-color: $color-main;
            }

            &:first-of-type {
                border-top-left-radius: 8px;
            }

            &:last-of-type {
                border-top-right-radius: 8px;
            }
        }
    }

    .content {
        padding: 20px 20px 10px;

        form {
            display: flex;
            flex-flow: column wrap;

            label {
                font-weight: 300;
            }

            input {
                margin: 5px 0 10px;
                border: 1px solid #999;
                border-radius: 4px;
                background: none;
                padding: 10px 20px;
            }

            input:focus {
                border-color: $color-main;
            }

            input:invalid {
                box-shadow: none;
            }

            &.validate input:invalid {
                border-color: #ff5f5f;
            }

            .button-ctr {
                display: flex;
                justify-content: center;
                margin: 10px 0;
            }
        }

        .error-box {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 20px;
            padding: 5px 10px;
            border: 1px solid #ff1f1f;
            border-radius: 4px;
            color: #ff1f1f;

            .icon-ctr {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
            }

            .error-info {
                font-size: 14px;
            }
        }
    }
}
