@import '../../_app';

/* Na podstawie:
 * https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3 */

.checkbox {
    font-size: 14px;
    box-sizing: border-box;
    margin: 5px 0 10px;

    input[type='checkbox'] {
        opacity: 0;
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 22px;

        width: 320px;
        text-align: justify;
    }

    label::before,
    label::after {
        position: absolute;
        content: '';
        display: inline-block;
    }

    label::before {
        height: 16px;
        width: 16px;
        border: 1px solid;
        left: 0px;
        top: 3px;
    }

    .invalid label::before {
        border-color: red;
    }

    label::after {
        height: 5px;
        width: 9px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        left: 4px;
        top: 7px;
    }

    label a:hover {
        color: $color-hover;
    }

    input[type='checkbox'] + label::after {
        content: none;
    }

    input[type='checkbox']:checked + label::after {
        content: '';
    }

    input[type='checkbox']:focus + label::before {
        outline: $color-hover auto 1px;
    }
}
