@import '../../_app';

.news-section {
    margin: 50px 0;

    .section-title {
        text-align: justify;
        font-size: 35px;
        margin: 0 0 30px;
        border-bottom: 5px solid $color-main;
        display: inline-block;
        padding: 0 10px 4px;
        letter-spacing: 2px;
    }

    .news-list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -50px;

        .single-item {
            width: 33.333333%;
            display: flex;
            flex-flow: column nowrap;
            padding: 20px 50px;
            border-right: dashed 1px rgb(202, 202, 202);

            &:last-of-type {
                border-right: none;
            }

            .image img {
                height: 250px;
                width: 100%;
                object-fit: cover;
            }

            .title {
                font-size: 20px;
                line-height: 25px;
                text-align: justify;
            }

            .desc {
                flex: 1 1 auto;
                margin: 0;
                text-align: justify;
                line-height: 23px;
            }

            .more-btn-ctr {
                margin-top: 20px;
                display: flex;
                justify-content: center;
            }

            .more-btn {
                border: 1px solid $color-main;
                color: $color-main;
                display: flex;
                border-radius: 4px;
                transition: color 0.3s ease, background-color 0.3s ease;

                &:hover {
                    border: 1px solid $color-second;
                    color: $color-second;
                }

                &:hover .icon {
                    background-color: $color-second;
                }

                span {
                    padding: 10px 15px;
                    font-size: 17px;
                }

                .icon {
                    background-color: $color-main;
                    color: #fff;
                    height: 100%;
                    width: 40px;
                    padding: 0 5px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.3s ease;
                }
            }
        }
    }
}
