@import '../../_app';

.loading-data {
    text-align: center;
    margin-top: 70px;
    font-size: 22px;
    font-weight: 300;
}

.scroll-ref {
    position: relative;
    top: -75px;
}

.search-results {
    margin: 50px 0;
    min-height: 600px;

    .search-title {
        display: flex;
        font-size: 35px;

        .keyword {
            font-weight: 900;
        }

        .stations {
            padding-left: 50px;
            font-weight: 300;
        }

        .stations .separator {
            padding: 0 10px;
        }
    }

    .results-table {
        margin-top: 20px;

        .header {
            display: flex;
            flex-flow: row nowrap;
            background-color: rgba(63, 81, 181, 0.1);
            border-bottom: 2px solid $color-main;
        }

        .header div {
            font-size: 20px;
        }

        .header > div,
        .body .results .result-item > div {
            width: calc(90% / 5);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
        }

        .header .route-info span {
            font-size: 15px;
            line-height: 20px;
        }

        .small-space {
            width: 10% !important;
        }

        .body .no-data {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding: 40px 10px;
            font-size: 22px;
            font-weight: 300;
        }

        .body .more-results {
            font-size: 15px;
            font-weight: 300;
            display: inline-block;
            padding: 5px 20px;

            &:hover {
                color: $color-main;
            }

            &.results-before {
                padding-top: 12px;
                padding-bottom: 12px;
            }

            .icon {
                padding-right: 5px;
            }
        }

        .body .results {
            display: flex;
            flex-flow: column nowrap;
        }

        .body .results .date-info-ctr {
            display: flex;
            justify-content: center;
            margin: 19px 0 1px 0;
            border-top: 1px solid #aaa;
        }

        .body .results .date-info {
            position: relative;
            top: -9px;
            font-size: 15px;
            font-weight: 300;
            background-color: #fff;
            padding: 0 15px;
        }

        .body .results .day-group:first-of-type .date-info-ctr {
            margin-top: 0px;
        }

        .body .results .result-item {
            display: flex;
            flex-flow: row nowrap;
            cursor: default;
        }

        .body .results .result-item:hover {
            background-color: #eee;
        }

        .body .results .result-item .departure-time span,
        .body .results .result-item .arrival-time span,
        .body .results .result-item .travel-time span,
        .body .results .result-item .price span {
            font-size: 21px;
        }

        .body .results .result-item .route-info span {
            font-size: 14px;
        }

        .body .results .result-item .travel-time span {
            color: #777;
        }
    }
}
