@import '../../_app';

.train-search {
    min-height: 500px;

    .content-wrapper {
        height: 500px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .content {
        margin: 0 auto;
    }

    h1.main-title {
        font-size: 45px;
        color: #fff;
        text-align: center;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin: 0 0 20px;
    }

    h2.desc {
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        font-weight: 400;
        margin: 0 0 60px;
    }

    .desc-cities {
        font-weight: 600;
        background-color: $color-main;
        padding: 2px 7px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }

    form input,
    form input:focus {
        outline: none;
    }

    form.train-search-form {
        .input-block {
            display: flex;
            flex-flow: column wrap;
        }

        .input-wrapper {
            /*background-color: #fff;
          border: 1px solid $(color-main);*/
            background-color: rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
            border: none;
            border-radius: 4px;
            color: #444;
        }

        .inputs-block > div {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-bottom: 20px;
        }

        .inputs-block .station-params .swap-stations {
            margin: 0 15px;
            display: flex;
            align-items: center;
        }

        .inputs-block .station-params .swap-stations button {
            font-size: 23px;
            padding: 5px 10px;
            border-radius: 3px;
        }

        .inputs-block .datetime-params input {
            /*min-width: 150px; */
            min-width: 158px;
            padding: 0 10px 5px;
        }

        .input-wrapper {
            display: flex;
            flex-flow: column nowrap;
            width: 150px;
        }

        .input-wrapper:first-of-type {
            margin-right: 73px;
        }

        .input-wrapper label {
            color: #444;
            font-size: 13px;
            padding: 4px 0 5px;
            text-align: center;
            font-weight: 300;
        }

        .input-wrapper input {
            background: none;
            border: none;
        }

        /* todo: na sztywno przesunięcie, tylko dla fv */
        /* .input-wrapper .search-date {
        position: relative;
        left: 12px;
      }*/

        .input-wrapper .search-time {
            padding-left: 48px !important;
        }

        .settings {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-bottom: 30px;

            .departure-setting {
                display: flex;
                justify-content: flex-end;
                width: 50%;
                padding-right: 36px;

                a {
                    padding: 0 15px 5px;
                    color: #fff;
                    font-size: 20px;
                }

                a:hover,
                a:focus {
                    color: $color-main;
                }

                a:focus {
                    outline: none;
                }

                a.selected {
                    border-bottom: 2px solid $color-main;
                }
            }

            .train-categories {
                display: flex;
                justify-content: left;
                width: 50%;
                padding-left: 36px;

                .train-category:not(:last-of-type) {
                    margin-right: 10px;
                }
            }
        }

        button.search-btn {
            display: block;
            padding: 10px 20px;
            margin: 0 auto;
            text-transform: uppercase;
            border-radius: 4px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        }
    }
}
