@import '_app';

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: $color-main;
    color: #fff;
    transition: background-color 0.5s ease;
    padding: 10px 15px;
    border-radius: 4px;
}

button.upper {
    text-transform: uppercase;
}

button i:not(.nomargin) {
    margin-right: 10px;
}

button:hover {
    background-color: $color-hover;
}

button:focus {
    outline: none;
}

[hidden] {
    display: none;
}

.horz {
    display: flex;
    flex-direction: row;
}

.page-title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 50px 0;
    margin: 0;
}

.background {
    background-image: url('assets/background/background.jpg');
    background-size: cover;
    background-position: center;
}

.app {
    .main {
        margin-top: 50px;
    }
}
